NACOS_SERVER_ADDR=nacos.linqin.space
NACOS_NAMESPACE=minipay
NACOS_USERNAME=your-nacos-username
NACOS_PASSWORD=your-nacos-password

REDIS_HOST=your-redis-host
REDIS_PORT=6379
REDIS_PASSWORD=your-redis-password
REDIS_DATABASE=0
